@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Camargo Cafe!</h1>
    <a href="/home/Registration">Click here to register</a>
    <br />
</div>
