
@{
    ViewData["Title"] = "LoginLanding";
}

<h1>Thank you for registering @ViewBag.FirstName!</h1>
<h4 style="font-size:18px">A confirmation email has been sent to @ViewBag.Email.</h4>

<i class="fa-solid fa-kiwi-bird"></i>
