
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<h4 style="font-size:18px">Please fill out the following information to register:</h4>

<form method="post" action="/home/loginlanding">
    First Name: <input type="text" name="firstName"/> <br />
    Last Name: <input type="text" name="lastName"/> <br />
       Email: <input type="email" name="email" style="align-items:start"/> <br />
    Password: <input type="password" name="password"/> <br />
    <input type="submit" />

</form>

